DATABASE_URL="postgresql://finax:finax@localhost:5437/finax?schema=public"
NODE_ENV=development
APP_WEB_URL=http://localhost:5173
APP_WEB_URLS=http://localhost:5173
JWT_SECRET="your_jwt_secret_key"
PORT=3333
RESEND_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3333/sessions/google/callback
SEED_ADMIN_NAME="Admin Finax"
SEED_ADMIN_EMAIL="admin@finax.local"
SEED_ADMIN_PASSWORD=
SEED_ORGANIZATION_NAME="Finax"
SEED_ORGANIZATION_SLUG=finax
